.foot {
    height: 10vh;
    background-color: black;
    color: #F2E5D7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 1px;
    height: 20px;
    background-color: #F2E5D7;
    margin: 0 10px 0 10px;
}

.socials a {
    text-decoration: none;
    color: #F2E5D7;
}

.socials :nth-child(2) {
    padding: 0 10px 0 10px;
}